h1 {
  color: #6d6b6c;
}

.chat__subheader {
  width: 100%;
  height: 50px;
  background-color: #e5eaf0;
  display: flex;
  flex-direction: row;
}

.chat__container {
  width: calc(100vw - 250px);
  height: 100%;
  background-image: url(../../assets/backgroundTiete.png);
  background-color: white;
  opacity: 0.8;
  background-position: center;
  background-size: cover
  ;
}

.chat__mensagens {
  width: 100%;
  height: calc(100% - 100px);
  display: block;
  grid-template-rows: auto 85px;
}

.mensagens__historico {
  height: 85%;
  padding: 10px 30px 10px 30px;
  overflow: auto;
  display: block;
  align-items: end;
  width: 95.32%;
  background: transparent;
}

.balloon_left{
  width: 45%;
  height: auto;
  margin-bottom: 10px;
  opacity: 0.7;
  background-color: gray;
  border-radius: 20px;
  padding: 10px;
   /*display: -webkit-flex;
  display: flex;*/
  align-items: center;
  justify-content: left;
   -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  color: black;
  font-family: 'Montserrat Alternates', sans-serif;
}

.balloon_right{
  width: 45%;
  height: auto;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0.7;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: right;
  margin-left: 55%;
  font-family: 'Montserrat Alternates', sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  color: black;
}

.mensagens__chat {
  background-color: white;
  opacity: 0.7;
  display: flex;
  grid-template-columns: 50px auto 50px;
  padding: 9px 30px;
  gap: 16px;
}

.chat__input {
  width: 70vw;
  height: auto;
  font-size: 24px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0px 0px 0px;
}

.chat__icon,
.enviar__btn {
  padding: 4px;
  height: 40px;
  cursor: pointer;
}

form * {
  color: #8999b5;
}

#chat_main {
  display: block;
  width: 100%;
  height: 100%;
}
