.login {
  color: #8999b5;
  }
  
  #main_login {
  display: block;
  }
  
  #main_login {
    /* Arquivo de estilização específico para a tela de login */
  width: 100vw;
  height: 100vh;
  background-color: #aabddd;
  }
  
  #div_login {
  width: 40%;
  min-width: 350px;
  height: 100%;
  background-color: #fff;
  display: block;
  margin: 0px 0px 0px auto;
  padding: 60px 0px;
  }
  
  #header_login {
  border-bottom: 1px solid #00000030;
  padding-bottom: 48px;
  text-align: center;
  margin-bottom: 48px;
  }
  
  #h1_header_login {
  padding-bottom: 8px;
  }
  
  #form_ip_con {
  margin-top: 50px;
  width: 60%;
  display: block;
  margin: auto;
  }
  
  #form_login {
  margin-top: 50px;
  width: 60%;
  display: none;
  margin: auto;
  }
  
  #btn_ip_con {
  margin: 0px auto 20px;
  color: #fff;
  }
  
  #btn_login {
  color: #fff;
  margin: 0px auto 0px;
  }