/* Arquivo de estilização geral. Todas as telas herdam os estilos desse arquivo */
/* Componentes estilizados: Select, Input e Button */

/* Reset de css */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Ubuntu, sans-serif;
  color: #8999b5;
  overflow: hidden;
}

select {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid #00000060;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  outline: none;
}

input {
  width: calc(100% - 44px);
  padding: 14px 20px;
  border: 1px solid #00000060;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  outline: none;
}

button {
  width: 100%;
  padding: 15px 30px;
  display: block;
  background-color: #8999b5;
  color: #fff;
  outline: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

/* Controle de estilos do menu lateral */
.application__controller {
  width: 100vw;
  height: 100vh;
  display: none;
  grid-template-columns: 250px auto;
}

.controller__principal {
  width: calc(100vw - 250px);
}

.chat__header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  border: 1px solid #00000030;
}

.header__perfil {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 100px;
}

.perfil__icone {
  background-color: #b8b9bb;
  padding: 10px 12px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  margin-right: 16px;
}

h1 {
  color: #6d6b6c;
}

.controller__menu {
  width: 250px;
  height: 100vh;
  border: 1px solid #00000030;
}

.sidebar__logo {
  border-bottom: 1px solid #d2dbea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__item {
  width: 100%;
  height: 125px;
  outline: none;
  border: none;
  font-size: 24px;
  color: #00000080;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.menu__item:hover {
  background-color: #f3e7ff30;
}

.menu--atual {
  background-color: #f3e7ff;
  color: #8d96b0;
}
.menu--atual:hover {
  background-color: #f3e7ff;
}

#chat {
  display: none;
  width: 100%;
  height: 100%;
}
